/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.attribution {
    font-size: 1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
}

main {
    flex-grow: 1;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

footer {
    padding: 1rem;
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    padding: 1rem;
    max-width: 24rem;
    margin: 1rem;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container p {
    font-size: 1rem;
    max-width: 32ch;
}

.container img {
    border-radius: 0.5rem;
    display: block;
    max-width: 100%;
}

.container .large {
    font-size: 1.2rem;
    font-weight: 700
}

.container .small {
    font-size: 1rem;
    font-weight: 400
}

.dark-blue {
    color: hsl(218, 44%, 22%)
}

.light-blue {
    color: hsl(220, 15%, 55%)
}